* {
    padding: 0px;
    margin: 0px;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: gray;
}

header {
    background-color: azure;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    padding-bottom: 10px;
    padding-top: 1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

header h1 {
    margin-top: 10px;
    text-align: center;
    font-size: 220%;
}

header img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    border: greenyellow solid 10px;
    margin-top: 10px;
}

section {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    background-color: azure;
    width: 45%;
}

section h3 {
    font-size: 110%;
    text-decoration: underline;
    margin-left: 24px;
    margin-bottom: 18px;
}

section p {
    margin-left: 25px;
    margin-bottom: 10px;
}

li {
    margin-left: 55px;
}

.parrafo p {
    margin-bottom: 0px;

}

footer {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(179, 232, 255);
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

footer p {
    text-align: center;
    margin-bottom: 15px;
}

footer .formulario {
    text-align: center;
}

.formulario textarea {
    margin-top: 20px;
}