* {
    margin: 0%;
    padding: 0%;
}

header h1 {
    margin-top: 20px;
    text-align: center;
}

header img {
    background-color: bisque;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    border: greenyellow solid 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

section {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
    width: 50%;
}

